body.-webkit-scrollbar 
  width: 0
  height: 0

body
  scrollbar-width: none 
  font-family: Open Sans Bold, sans-serif
  -ms-overflow-style: none  
  overflow-y: scroll

.gp-title
  text-align: center
  padding: .3rem
  color: black
  z-index: 10

.gp-landing-page-title
  text-align: center

.navbar
  border-bottom: inset 1px lightgray

#main-screenshot
  opacity: 1
  transition: 5s

#main-screenshot.hide
  opacity: 0
   
.gp-link-no-underline
  text-decoration: none !important

.gp-box
  box-shadow: 0 0.5em 1em -0.125em rgba(43, 37, 35, 0.6), 0 0px 0 1px rgba(43, 37, 35, 0.02)
  color: black

